.navbar,
.navbar-inverse,
.navbar-nav
{
    border-radius: 0;
    background: rgb(122, 77, 168);
    font-weight: bold;
    font-family: Monaco;
    font-size: 14px;
    border-color: #265a88;
    /*padding-bottom: -5px;*/
}


.navbar-inverse .navbar-nav > li > a {
    /*padding: 10px 15px;*/
    /*margin: 0;*/
    border-radius: 0;
    color: #ffffff;
    /*line-height: 5px;*/
    display: inline-block;
}


.navbar-inverse .navbar-nav > li > a:hover{
    background-color: rgb(216, 208, 218);
    color: blue;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:active
{
    background-color: rgb(60, 60, 60);
    color: chartreuse;

}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus
{
    background-color: chartreuse;
    color: rgb(68, 67, 67);

}



.dropdown-menu {
    background-color: rgb(68, 67, 67);
    color: chartreuse;
}

.dropdown-menu > li > a {
    color: #808080;
}


.navbar-inverse .navbar-nav .dropdown-menu > li:hover > a,
.navbar-inverse .navbar-nav .dropdownm-menu > li.active > a,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus{
    background-color: rgb(60, 60, 60);
    color: chartreuse;
}

#footer {
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    background: rgb(122, 77, 168);
}

#footer a {
    color: #fff;
}

#footer a:hover {
    color: rgb(253, 246, 103);
}

#footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer ul > li {
    display: inline-block;
}


.main-bg {
    background: rgb(216, 208, 218);
    background-size: cover;
}
.main-content {
    padding: 80px 0;
}

.panel{
    border-radius:0;

    background-color: #ffffff;
}
.panel-head{
    background-color: #ffffff;
    padding:10px;
    border-bottom: 1px #DDDDDD solid;

}
.panel-body{
    padding:10px;
}
.panel-footer{
    background-color: #ffffff;
}

.list-inline>li>a{
    color: #808080;
    text-decoration: none;
}
.list-inline>li>a:hover,
.list-inline>li>a:focus
{
    color: #265a88;
}

.but{
    border-radius: 0;
    background-color: #265a88;
    color: #ffffff;
    padding:10px 20px;
}

.bat:focus,
.bat:hover,
.bat:active
{
    background-color: darkslategray;
    color: #ffffff;
}

.bat{
    border-radius: 0;
    background-color: #000000;
    color: #ffffff;
    padding:10px 20px;
}

.but:focus,
.but:hover,
.but:active
{
    background-color: chartreuse;
    color: #ffffff;
}

.text-fot>li>a{
    color: #ffffff;
    text-decoration: none;
}
.text-fot>li>a:hover,
.text-fot>li>a:focus
{
    color: rgb(200, 21, 249);
}

.text-center ul li a{
    text-decoration: none;
}

.past {
    margin-top: 50px;
}
